@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  color: #EEEEEE;
  font-family: "Sora", sans-serif;
}

body {
  background: url("./../images/2.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.widgets {
  position: fixed;
  z-index: 99;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
  padding: 3% 0 1rem 0;
}
nav .logo {
  color: #EEEEEE;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Sora", sans-serif;
  text-shadow: 0 0 10px #FFD369;
}
nav .social-media {
  display: flex;
  gap: 1rem;
  align-items: center;
}
nav .social-media img {
  width: 35px;
}

@media screen and (max-width: 550px) {
  nav .logo {
    font-size: 1.25rem;
  }
  nav .social-media {
    gap: 0.3rem;
  }
}
.courses-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.courses-container .course-description {
  width: 33%;
  margin-left: 11%;
  color: #EEEEEE;
}
.courses-container .course-description h1 {
  font-size: 3rem;
  font-family: "Sora", sans-serif;
  border-bottom: 2px solid #FFD369;
  padding-bottom: 2rem;
}
.courses-container .course-description p {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #EEEEEE;
}
.courses-container .carousel {
  height: 50vh;
  width: 50%;
}
.courses-container .carousel .carousel-inner {
  box-shadow: 0 0 120px 15px black;
}
.courses-container .carousel .carousel-inner .carousel-item {
  overflow: hidden;
}
.courses-container .carousel .carousel-inner .carousel-item .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}
.courses-container .carousel .carousel-inner .carousel-item .image-data {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.courses-container .carousel .carousel-inner .carousel-item .image-data h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #EEEEEE;
}
.courses-container .carousel .carousel-inner .carousel-item .image-data .button-course {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 6px;
  color: #FFD369;
  background: #222831;
  text-decoration: none;
  margin-top: 2rem;
  transition: all 0.5s ease;
}
.courses-container .carousel .carousel-inner .carousel-item .image-data .button-course:hover {
  color: #222831;
  background: #FFD369;
  font-weight: 600;
}

.carousel-inner,
.carousel-item {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1500px) {
  .courses-container .course-description {
    margin-left: 3%;
  }
  .courses-container .carousel {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .courses-container {
    display: block;
  }
  .courses-container .course-description {
    width: 90%;
    text-align: center;
    margin: 15% auto 5% auto;
  }
  .courses-container .carousel {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .courses-container .course-description {
    width: 95%;
  }
}
.ebooks h2 {
  margin: 10% 10% 0 10%;
  font-size: 2rem;
  font-weight: 600;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .slide-container {
  max-width: 90%;
  width: 100%;
  padding: 40px 0;
}
.container .slide-container .slide-content {
  margin: 0 40px;
  overflow: hidden;
}
.container .slide-container .slide-content .card-wrapper .card {
  border-radius: 25px;
  background: #393E46;
}
.container .slide-container .slide-content .card-wrapper .card .image-content {
  row-gap: 5px;
  position: relative;
  padding: 25px 0;
}
.container .slide-container .slide-content .card-wrapper .card .image-content .overlay {
  border-radius: 25px 25px 0 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #222831;
}
.container .slide-container .slide-content .card-wrapper .card .image-content .card-image {
  position: relative;
  width: 150px;
  height: 150px;
  padding: 3px;
}
.container .slide-container .slide-content .card-wrapper .card .image-content .card-image .card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  border: 2px solid #FFD369;
}
.container .slide-container .slide-content .card-wrapper .card .card-content .description {
  line-height: 1.5rem;
  color: #EEEEEE;
  text-align: center;
  min-height: 100px;
  display: flex;
  align-items: center;
}
.container .slide-container .slide-content .card-wrapper .card .card-content .button {
  border: none;
  font-size: 16px;
  color: #EEEEEE;
  padding: 8px 16px;
  background: #222831;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.container .slide-container .slide-content .card-wrapper .card .card-content .button:hover {
  color: #222831;
  background: #FFD369;
}
.container .slide-container .swiper-navBtn {
  color: #393E46;
  transition: color 0.3s ease;
}
.container .slide-container .swiper-navBtn:hover {
  color: #FFD369;
}
.container .slide-container .swiper-navBtn::before,
.container .slide-container .swiper-navBtn::after {
  font-size: 40px;
}
.container .slide-container .swiper-button-next {
  right: 0;
}
.container .slide-container .swiper-button-prev {
  left: 0;
}
.container .slide-container .swiper-pagination-bullet {
  background: #393E46;
  opacity: 1;
}
.container .slide-container .swiper-pagination-bullet-active {
  background: #FFD369;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

@media screen and (max-width: 1580px) {
  .description {
    min-height: 200px;
  }
}
@media screen and (max-width: 800px) {
  .ebooks h2 {
    margin: 0;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .slider-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */